section img {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    article.page {
        width: 83.0508474576%;
        float: right;
        margin-right: 0;
        padding-left: 4.2372881356%;
        padding-right: 0;
    }
}

a.panel-story {
    color: black;
    border: solid;
    border-width: 1px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    width: 480px;
}